extends template/base

block vars

block content
    //- include ./section/chart/_chart.pug
    include ./section/header/_header.pug
    include ./section/aside/_aside.pug
    include ./section/main2/_dashboard.pug
