block content
    main.main
        .column
            +sectionItem(3,"Cologne", "When you enter into any new area of science, you almost always find.")
            +sectionItem(1,"Cologne", "When you enter into any new area of science, you almost always find.")
            +sectionItem(4,"Cologne", "When you enter into any new area of science, you almost always find.")
        .column
            +sectionItem(5,"Cologne", "When you enter into any new area of science, you almost always find.")
            +sectionItem(6,"Cologne", "When you enter into any new area of science, you almost always find.")
            +sectionItem(7,"Cologne", "When you enter into any new area of science, you almost always find.")
        .column
            +sectionItem(2,"Cologne", "When you enter into any new area of science, you almost always find.")
            +sectionItem(8,"Cologne", "When you enter into any new area of science, you almost always find.")
            +sectionItem(9,"Cologne", "When you enter into any new area of science, you almost always find.")
        .column
            +sectionItem(10,"Cologne", "When you enter into any new area of science, you almost always find.")
            +sectionItem(11,"Cologne", "When you enter into any new area of science, you almost always find.")
            +sectionItem(12,"Cologne", "When you enter into any new area of science, you almost always find.")