header
    div.header-box
        a.logo(href="#")
            +png('logo')
        label.header_search
            +png('search')
            input(
                type="search"
                name='search'
                placeholder="Search"
            )
        ul.header-images
            li.headerimg1
                +png('header1')
            li
                +png('header2')
            li
                +png('header3')
            li.headerimg4
                +png('header4')
        #mobile-menu-btn
            img(src="../img/sprites.svg#burger", alt="menu")
        
        ul#menu
            li
                a(href='#')
                    img(src="../img/sprites.svg#page2", alt="icon1")
            li
                a(href='#')
                    img(src="../img/sprites.svg#page3", alt="icon2")
            li
                a(href='#')
                    img(src="../img/sprites.svg#page4", alt="icon3")
            li
                a(href='#')
                    img(src="../img/sprites.svg#page5", alt="icon4")
            li
                a(href='#')
                    img(src="../img/sprites.svg#page6", alt="icon5")
            li
                a(href='#')
                    img(src="../img/sprites.svg#page7", alt="icon6")
            li
                a(href='#')
                    img(src="../img/sprites.svg#page8", alt="icon7")
            li
                a(href='#')
                    img(src="../img/sprites.svg#page9", alt="icon8")
            li
                a(href='#')
                    img(src="../img/sprites.svg#page10", alt="icon9")
            li
                a(href='#')
                    img(src="../img/sprites.svg#page11", alt="icon10")
            li
                a(href='#')
                    img(src="../img/sprites.svg#page12", alt="icon11")
            li
                a(href='#')
                    img(src="../img/sprites.svg#page13", alt="icon12")
            li
                a(href='#')
                    img(src="../img/sprites.svg#page14", alt="icon13")
            li
                a(href='#')
                    img(src="../img/sprites.svg#page15", alt="icon14")

        