block content
    main.main
        .column
            +sectionItem("item1",3,"Cologne", "When you enter into any new area of science, you almost always find.")
            +sectionItem("item2",1,"Melbourne", "When you enter into any new area of science, you almost always find.")
            +sectionItem("item3",10,"Kuala Lumpur", "Your business is in a continual battle for your customers’ recognition whether you know it or not.")
        .column
            +sectionItem("item4",5,"Bengaluru", "Your business is in a continual battle for your customers’ recognition whether you know it or not.")
            +sectionItem("item5",6, "Casablanca", "When you enter into any new area of science, you almost always find.")
            +sectionItem("item6",7,"Bristol", "When you enter into any new area of science, you almost always find.")
        .column
            +sectionItem("item7",2,"Kathmandu", "When you enter into any new area of science, you almost always find.")
            +sectionItem("item8",9,"Brisbane", "When you enter into any new area of science, you almost always find.")
            +sectionItem("item9", 10,"Indianapolisne", "When you enter into any new area of science, you almost always find.")
        .column
            +sectionItem("item10",11,"Memphis", "When you enter into any new area of science, you almost always find.")
            +sectionItem("item11",14,"Louisville","When you enter into any new area of science, you almost always find" )(class="itemB")
            +sectionItem("item12",13,"Helsinki", "When you enter into any new area of science, you almost always find.")