aside 
    a.logo(href="#")
        +png('logo')
    ul.aside-icons
        li.icons-li
            a.icon-aside(href='#')
                img(src="../img/sprites.svg#page2", alt="icon1")
        li.icons-li
            a.icon-aside(href='#')
                img(src="../img/sprites.svg#page3", alt="icon2")
        li.icons-li
            a.icon-aside(href='#')
                img(src="../img/sprites.svg#page4", alt="icon3")
        li.icons-li
            a.icon-aside(href='#')
                img(src="../img/sprites.svg#page5", alt="icon4")
        li.icons-li
            a.icon-aside(href='#')
                img(src="../img/sprites.svg#page6", alt="icon5")
        li.icons-li
            a.icon-aside(href='#')
                img(src="../img/sprites.svg#page7", alt="icon6")
        li.icons-li
            a.icon-aside(href='#')
                img(src="../img/sprites.svg#page8", alt="icon7")
        li.icons-li
            a.icon-aside(href='#')
                img(src="../img/sprites.svg#page9", alt="icon8")
        li.icons-li
            a.icon-aside(href='#')
                img(src="../img/sprites.svg#page10", alt="icon9")
        li.icons-li
            a.icon-aside(href='#')
                img(src="../img/sprites.svg#page11", alt="icon10")
        li.icons-li
            a.icon-aside(href='#')
                img(src="../img/sprites.svg#page12", alt="icon11")
        li.icons-li
            a.icon-aside(href='#')
                img(src="../img/sprites.svg#page13", alt="icon12")
        li.icons-li
            a.icon-aside(href='#')
                img(src="../img/sprites.svg#page14", alt="icon13")
        li
            a.icon-aside(href='#')
                img(src="../img/sprites.svg#page15", alt="icon14")
        

            

        

        
